# Gmail credentials for sending certificates via SMTP.
#
# 1. Enable 2FA on your Google account
# 2. Go to https://myaccount.google.com/apppasswords
# 3. Generate an App Password for "Mail"
# 4. Paste the 16-character password below (with spaces is fine)
#
# These are the only credentials required to send emails.

GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
